<div class="container">
  <aside class="sidebar">
    <app-tree></app-tree>
  </aside>

  <main class="main-content">
    <mat-tab-group>
      <mat-tab label="Yearly Report">
        <section class="something-else-panel">
          <h2>Yearly Report</h2>
          <app-expenses></app-expenses>
        </section>
      </mat-tab>
      <mat-tab label="Transactions">
        <section class="transaction-panel">
          <h2>Transactions</h2>
          <app-transactions></app-transactions>
        </section>
      </mat-tab>
    </mat-tab-group>
  </main>
</div>
